.posts__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 2rem;
}

iframe {
    width: 100%;
    height: 90%;
    user-select: none;
    display: block;
    border-radius: 2rem;
}

.posts__button {
    display: flex;
    justify-content: center;
}

.btn-link {
    text-align: center;
    width: 90vw;
}

@media screen and (max-width: 1024px) {
    iframe {
        width: 95%;
        margin-left: 0;
        height: 95%;
        margin-top: 0;
    }
}

/*                         Media Query (Small)                      */

@media screen and (max-width: 600px) {
    iframe {
        width: 95%;
        margin-left: 0;
        height: 95%;
        margin-top: 0;
    }
    .posts__container {
        grid-template-columns: 1fr;
    }
}

.post {
    background: var(--color-bg-variant);
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    height: 50vh;
}